.error{
  color: red;
}

body {
    background-color: #F0F0F0;
}

html,h1,h2,h3,h4,h5 {
    font-family: Arial, Helvetica, sans-serif;
    color: #2C2C2C;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    min-width: 10em;
    min-height: 3em;
    border: none;
    border-radius: 0.2em;
    background: #0099FF;
    color: white;
    font-size: 1em;
    margin: 1em;
}

input, select {
    border: 1px solid #000;
    padding: 1em;
    border-radius: 0px;
    font-size: 1em;
    margin: 1em;
}
textarea {
    border: 1px solid #000;
    padding: 1em;
    border-radius: 0px;
    font-size: 1em;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
